. {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  padding: 30px 20px;
  border-radius: 16px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

h1 {
  margin-bottom: 25px;
}

.buttons {
  position: relative;
  height: 120px;
}

button {
  padding: 12px 22px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
  left: 30px;
}

#noBtn {
  background: #adb5bd;
  color: black;
  right: 30px;
}

#message {
  margin-top: 25px;
  font-size: 18px;
  color: #ff4d6d;
}